ADMIN_EMAIL=admin@example.com
CABOT_FROM_EMAIL=cabot@example.com

EMAIL_HOST=smtp.gmail.com
EMAIL_USER=********@gmail.com
EMAIL_PASSWORD=*********
EMAIL_PORT=587
EMAIL_USE_TLS=1

DJANGO_SECRET_KEY=<SET ME>

WWW_HTTP_HOST=cabot.example.com
WWW_SCHEME=http
